body {
    background-color: lightblue;
}

.error_string {
    color: red;
}

table {
    color: #b97143;
    border-collapse: collapse;
    border: 5px;
    width: 100%;
}

.text_field {
    padding: 10px 20px;
}

td {
    background: #d2f2bc;
    padding: 10px 20px;
    border: 1px solid #fbfbfb;
}

.btn {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #D44B38;
    padding: 10px 20px;
    border: 1px solid #fbfbfb;
}

.btn:hover {
    background: #E85F4C;
}

.btn:active {
    background: #980F00;
}

.search_container {
    text-align: center;
}

h1 {
    text-align: center;
}

#search_worker, #first_name, #last_name, #birthday {
    padding: 10px 20px;
}

a {
    color: rgb(255, 133, 140);
    font-weight: 700;
}

a:hover {
    color: rgb(255, 108, 94);
}

h1 {
    color: #C44737;
    text-align: center;
    font-size: 30px;
    padding: 8px 60px 0 20px;
    border-top: 4px solid;
    border-left: 4px solid;
}

h3 {
    color: #b97143;
}